doctype html
html
  head
    include includes/head.pug
    title Contact
  body
    .bg-img

    .main
      block content
        h1 Contact
        ul.social-media-links
          li
            a(href='https://www.linkedin.com/in/danniel-cristie-b29b4b193/') LinkedIn
          li
            a(href='https://github.com/dannielcristie') GitHub
          li
            a(href='mailto:dannielcristie@gmail.com') Email
          li
            a(href='https://twitter.com/dannielcristie') Twitter
